<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>book</string>
	<key>uuid</key>
	<string>A27F1041-F809-4EA4-92F2-76AA16B002E8</string>
</dict>
</plist>
