
  <%= text_control :value, :label => 'Amount £ ' -%>
  

  <label>From</label>  
  <select name="transaction[sender_id]">
  <%= options_from_collection_for_select(@users, :text_method => 'name', :value_method => "id") %>
  </select>

  <label>To</label>
  <select name="transaction[receiver_id]">
  <%= options_from_collection_for_select(@users, :text_method => 'name', :value_method => "id") %>
  </select> 
  
